$background: #F0F2F5;
$text-title: #363F5F;
$text-body: #969CB3;
$green: #33CC95;
$blue: #5429CC;
$red: #E52E4D;

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 100%;
  margin: auto;
  max-width: 550px;
  overflow: auto;
  height: 500px;
  background-color: $background;
  padding: 2rem;
  position: relative;
  border-radius: 0.25rem;
}

.close-modal {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  border: 0;
  background: transparent;
  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.8);
  }
}

.container {
  h2 {
    color: $text-title;
    font-size: 1.5rem;
  }

  input {
    width: 100%;
    padding: 0 1.5rem;
    height: 2.25rem;
    border-radius: 0.25rem;
    border: 1px solid #d7d7d7;
    background-color: #e7e9ee;
    font-weight: 400;
    font-size: 1rem;
    margin-top: 1rem;

    &::placeholder {
      color: $text-body;
    }
  }

  .invalid {
    border: 1px solid $red; 
  }

  .validation-error {
    p {
      color: $red;
      font-size: 0.8rem;
    }
  }

  .contacts {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
  }

  .address-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 0.5rem;

    .infos-left {
      display: flex;
      justify-content: center;
      gap: 0.5rem;
    }

    .infos-right {
      display: flex;
      justify-content: center;
      gap: 0.5rem;
    }
    
    input {
      margin: 0;
    }
    
    button {
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      background-color: $text-title;
      padding: 0.5rem;
      text-align: center;
      border-radius: 50px;
      transition: filter 0.2;
      font-weight: 400;
      font-size: 1rem;
      margin-top: 1rem;
      color: $text-body;

      &:hover {
        filter: brightness(0.9);
      }
    }
  }

  .divisor {
    & + .divisor {
      border-top: 2px solid $text-title;
      padding-top: 1rem;
    }
  }

  button[type="submit"] {
    width: 100%;
    height: 3rem;
    background-color: $green;
    color: #fff;
    border-radius: 0.25rem;
    border: 0;
    font-size: 1rem;
    margin-top: 1.5rem;
    font-weight: 600;
    transition: filter 0.2;

    &:hover {
      filter: brightness(0.9);
    }
  }
}

@media (max-width: 630px) {
  .modal-content {
    max-width: 450px;
  }
}

@media (max-width: 481px) {
  .modal-content {
    max-width: 350px;
  }
}
