<div class="container">
  <app-info-user-modal *ngIf="infoUserModalService.show"></app-info-user-modal>
  <app-create-user-modal *ngIf="createUserModalService.show"></app-create-user-modal>
  <div class="content">
    <header>
    <h1>Usuários cadastrados</h1>
      <button (click)="createUserModalService.changeVisibility()" type="button">
        Adicionar
        <img src="../assets/add-user.svg" alt="Adicionar novo usuário">
      </button>
    </header>
    <app-show-users></app-show-users>
  </div>
</div>
