$background: #F0F2F5;
$text-box: #F0F2F5;
$text-title: #363F5F;
$background-box: #363F5F;
$text-body: #969CB3;
$green: #33CC95;
$blue: #5429CC;
$red: #E52E4D;

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  // position: fixed;
  flex-direction: column;
  align-items: center;

  .content {
    width: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  header {
    height: 100px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    h1 {
      color: $text-title;
    }

    button[type="button"] {
      width: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      padding: 0 1.5rem;
      height: 3rem;
      background-color: $green;
      color: #fff;
      border-radius: 0.25rem;
      border: 0;
      font-size: 1rem;
      font-weight: 600;
      transition: filter 0.2;
      &:hover {
        filter: brightness(0.9);
      }
    }
  }
}