<div (click)="infoUserModalService.changeVisibility()" class="modal-overlay"></div>
<div class="modal-content">
  <button (click)="infoUserModalService.changeVisibility()" id="close-modal" class="close-modal">
    <img src="../../../../assets/close.svg" alt="Fechar modal">
  </button>
  <div class="container">
    <h2>Informações do usuário</h2>
    <div class="infos">
      <div>
        <strong>Nome:</strong> <p>Igor Monteiro</p>
      </div>
      <div class="two-infos-container">
        <div>
          <strong>Email:</strong> <p>igor@gmail.com</p>
        </div>
        <div>
          <strong>CPF:</strong> <p>2131312312</p>
        </div>
      </div>
      <div class="two-infos-container">
        <div>
          <strong>Telefone:</strong> <p>7129991919</p>
        </div>
        <div>
          <strong>Celular:</strong> <p>799929243</p>
        </div>
      </div>
      <strong>Endereço(s):</strong>
      <div *ngFor="let address of user.addressees" class="address">
        <p>{{ address.rua }}, nº {{ address.numero }}, {{ address.bairro }}. CEP: {{ address.cep }}. {{ address.cidade }} - {{ address.estado }}</p>
      </div>
    </div>
  </div>
</div>