<div (click)="updateUserModalService.changeVisibility()" class="modal-overlay">
</div>
<div class="modal-content">
  <button (click)="updateUserModalService.changeVisibility()" id="close-modal" class="close-modal">
    <img src="../../../../assets/close.svg" alt="Fechar modal">
  </button>
  <form (ngSubmit)="submit()" [formGroup]="userForm" #formDir="ngForm" class="container">
    <h3>Atualizar dados de {{user.nome}}</h3>
    <input id="name" type="text" placeholder="Nome" formControlName="name" />
    <div *ngIf="name.invalid && formDir.submitted" class="validation-error">
      <p *ngIf="name.errors?.['required']">* Campo é obrigatório</p>
    </div>
    <input id="email" type="email" placeholder="Email" formControlName="email" />
    <div *ngIf="email.invalid && formDir.submitted" class="validation-error">
      <p *ngIf="email.errors?.['required']">* Campo é obrigatório</p>
      <p *ngIf="email.errors?.['email']">* Email inválido</p>
    </div>
    <input id="cpf" type="text" placeholder="Cpf" formControlName="cpf" />
    <div *ngIf="cpf.invalid && formDir.submitted" class="validation-error">
      <p *ngIf="cpf.errors?.['required']">* Campo é obrigatório</p>
    </div>
    <div class="contacts">
      <div>
        <input id="phone" type="text" placeholder="Telefone" formControlName="phone" />
        <div *ngIf="phone.invalid && formDir.submitted" class="validation-error">
          <p *ngIf="phone.errors?.['required']" >* Campo é obrigatório</p>
        </div>
      </div>
      <div>
        <input id="smartphone" type="text" placeholder="Celular" formControlName="smartphone" />
        <div *ngIf="smartphone.invalid && formDir.submitted" class="validation-error">
          <p *ngIf="smartphone.errors?.['required']" >* Campo é obrigatório</p>
        </div>
      </div>
    </div>
    <div class="address-container">
      <input id="street" type="text" placeholder="Rua" formControlName="street">
      <div *ngIf="street.invalid && formDir.submitted" class="validation-error">
        <p *ngIf="street.errors?.['required']">* Campo é obrigatório</p>
      </div>
      <div class="infos-left">
        <input id="number" [ngClass]="number.invalid && formDir.submitted ? 'invalid': ''" type="text" placeholder="Numero" formControlName="number">
        <input id="district" [ngClass]="district.invalid && formDir.submitted ? 'invalid': ''" type="text" placeholder="Bairro" formControlName="district">  
        <input id="city" [ngClass]="city.invalid && formDir.submitted ? 'invalid': ''" type="text" placeholder="Cidade" formControlName="city">
      </div>
      <div class="infos-right">
        <input id="cep" [ngClass]="cep.invalid && formDir.submitted ? 'invalid': ''" type="text" placeholder="Cep" formControlName="cep">
        <input id="state" [ngClass]="state.invalid && formDir.submitted ? 'invalid': ''" type="text" placeholder="Estado" formControlName="state">
        <input id="country" [ngClass]="country.invalid && formDir.submitted ? 'invalid': ''" type="text" placeholder="País" formControlName="country">
      </div>
    </div>
    <form name="new_addresses">
      <div *ngFor="let endereco of user.enderecos" id="new_container_addresses" class="address-container divisor">
        <input type="text" placeholder="Rua" [value]="endereco.rua" >
        <div class="infos-left">
          <input type="text" placeholder="Numero" [value]="endereco.numero" >
          <input type="text" placeholder="Bairro" [value]="endereco.bairro" >  
          <input type="text" placeholder="Cidade" [value]="endereco.cidade" >
        </div>
        <div class="infos-right">
          <input type="text" placeholder="Cep" [value]="endereco.cep" >
          <input type="text" placeholder="Estado" [value]="endereco.estado" >
          <input type="text" placeholder="País" [value]="endereco.pais" >
        </div>
      </div>
    </form>
    <button type="submit">Atualizar</button>
  </form>
</div>